@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Azeret Mono", monospace;
    margin: 0;
    padding: 0;
    letter-spacing: 0%;
}

/* shared css */
a {
    color: black;
}

.section-title {
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin: 30px auto;
}

.section-description {
    color: rgb(13, 19, 33);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    opacity: 0.7;
    margin: 30px;
}

/* header section  */
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px auto;
}

nav button {
    padding: 10px 20px;
    color: rgb(13, 19, 33);
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    background-color: white;
}

.banner {
    background-image: url("../assets/Hero-bg.png");
    background-position: center;
    background-size: cover;
    height: 550px;
    text-align: center;
    padding: 20px 300px;


}

.banner-title {
    color: rgb(13, 19, 33);
    font-size: 38px;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
}

.banner-btn {
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 15px 20px;
    /* margin: 30px auto; */

}

/* main section 1 */


.motive {
    margin: 50px 150px;
    padding: 50px 100px;
}



.motive-div {
    display: flex;
    justify-content: space-around;
    padding: 30px 5px;
    align-items: center;
}

/* inner div */
.inner-div {
    padding: 10px 50px;
    /* margin-right: 0px; */
}

#div-1 {
    background-color: antiquewhite;
}

#div-2 {
    background-color: lightcyan;
}

#div-3 {
    background-color: lightgoldenrodyellow;
}

.motive-name {
    color: rgba(13, 19, 33, 0.7);
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 20px;
}

.motive-name-description {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    opacity: 0.7;
    margin-bottom: 20px;

}

.motive-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 16px;
}

/* insperation section */
.inspiration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    margin: 20px 150px;
}

iframe {
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    padding: 32px;
}

/* current target section */
.current-target {
    margin: 50px 150px;
    padding: 50px;
}

.target-div {
    display: flex;
    gap: 40px;
    padding: 20px;

}

.target-inner-div {
    padding: 20px;
    gap: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.target-title {
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 800;
    margin: 20px auto;
}

.target-description {
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    opacity: 0.7;
    margin: 10px 0;
}

/* next-target-div */

.next-target {
    margin: 50px 150px;
    padding: 50px;
}

.next-target-div {
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.image {
    margin-right: 20px;
}

/* footer */
.footer-div {
    border-radius: 16px;
    background-image:
        linear-gradient(to bottom, rgba(29, 30, 32, 0.52), rgba(17, 16, 17, 0.73)),
        url("../assets/handshake.jpg");
    width: 1000px;
    height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto 80px auto;
}

.footer-title {
    color: white;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    margin: 20px;

}

.footer-description {
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    opacity: 0.7;
    margin: 20px;
}

.input-div {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

/* 
.text-input-width {
    width: 100%;
} */

footer input[type=text] {
    /* width: 30%; */
    padding: 15px;
    border-radius: 10px;
    margin-right: 20px;
    width: 500px;
}

footer input[type=submit] {
    /* width: auto; */
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

.footer-icon {
    display: flex;
    gap: 10px;
}